body, html {
    height: 100%;
    }

body {
    background-image: url("images/ezgif-1-2e976287dc.gif");
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header3 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color:aliceblue;
    font-family:cursive;
}
#audio {
    top: 80%;
}
#button {
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

